<section class="">
  <!-- Footer -->
  <footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 >Get The FreshCart App</h5>

          <p>
            We Will Send You a Link, open it on your Phone
          </p>
        </div>
      
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Mohamed Ayman, All Rights Reserved
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>